<!DOCTYPE html>
<html>
<head></head>
    <body>
        <h1><u>Create a new Employee</u></h1>
            <form method="POST" action='/employees'>
                First Name: <input type="text" name="first_name" /><br />
                Last Name: <input type="text" name="last_name" /><br />
                Alias: <input type="text" name="alias" /><br />
                Title: <input type="text" name="title" /><br />
                Office: <input type="text" name="office" /><br />
                <select name="dog_id"><br />
                    <% @dogs.each do |dog| %>
                        <option value=<%= dog.id%>><%= dog.name%></option>
                    <% end %>
                <input type="submit" value="Create"><br />
            </form>
    </body>
</html>